@model ResumeWebSite.Models.Project.ProjectIndexModel
@{
    ViewBag.Title = "Главная";
}


<div id="homeIndex">
    <div id="title">
        <h1>Привет, я Дмитрий</h1>
        <h3>Начинающий разработчик</h3>
    </div>
    <div id="projectsWindow">
        <h3>Мои проекты</h3>
        <div class="projects-container">

            <!--Razor here-->
            @foreach (var project in Model.Projects)
            {
                <div class="project-container">
                    @{var linkToProject = "/project/detail/" + project.Id;}
                    <a href="@linkToProject">
                        <h5>@project.ProjectName</h5>
                        <div class="project-preview">
                            @{
                                var picture = project.Pictures.FirstOrDefault();
                                if (picture != null)
                                {
                                    <img src="@picture.Link " alt="@project.ProjectName" />
                                }
                            }
                        </div>
                    </a>
                    @if (project.Tags != null)
                    {
                        <div class="project-tags-container">
                            @foreach (var tag in project.Tags)
                            {
                                var byTagLink = "/project/tag/" + @tag.TagName;
                                <a href="@byTagLink"><span>@tag.TagName</span></a>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <a href="/project" class="link-in-text"><input type="button" value="Посмотреть все" /></a>
    </div>
</div>
